<%- include('./partials/loginSignup.ejs') %>
<style>
    .password-container {
      position: relative;
      align-items: center;
    }
  
    .password-container i {
      position: absolute;
      right: 10px;
      cursor: pointer;
      bottom: 10px;
      font-size: 15px;
    }
  </style>
    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Login</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
                	<div class="mb-4">
                           <form action="/user/login" method="post">
                                <label for="">Email</label>
                                <input type="text" name="email" >
                                <div class="password-container">
                                    <label for="">password</label>
                                    <input
                                      type="password"
                                      id="password"
                                      placeholder=""
                                      name="password"
                                      
                                    />
                                    <i class="bi bi-eye-slash" id="togglePassword"></i>
                                  </div>
                                <input type="submit" class="btn mt-3">
                                <% if (locals.message && message.length>0) { %>
                                    <div class="alert alert-danger text-center mt-3">
                                        <%= message %>
                                    </div>
                                <% } %>
                           </form>
                     <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="mb-4">
                            <a href="#" id="/user/forgot-password">Forgot your password?</a> &nbsp; | &nbsp;
                            <a href="/user/signup" id="customer_register_link">Create account</a>
                        </p>
                    </div>
                    </div>
               	</div>
            </div>
        </div>
        
    </div>
    <!--End Body Content-->
    

    <script>
         const toggler = document.getElementById("togglePassword");
  const inputField = document.getElementById("password");
  console.log(toggler, inputField);

  toggler.addEventListener("click", () => {
    if (inputField.getAttribute("type") === "password") {
      inputField.setAttribute("type", "text");
      toggler.classList.remove("bi-eye-slash");
      toggler.classList.add("bi-eye");
    } else {
      inputField.setAttribute("type", "password");
      toggler.classList.remove("bi-eye");
      toggler.classList.add("bi-eye-slash");
    }
  });
    </script>
 <%- include('./partials/footer.ejs') %>