
<%- include('./partials/header.ejs') %>
<div class="container d-flex justify-content-center" style="padding: 5%;">
  <div>
    <h1 style="font-size: 5em; margin-bottom: 4%;">Oops! Page Not Found</h1>
    <p>The page you’re looking for doesn’t exist.</p>
    <a class="btn btn-primary" href="/">Go back to Home</a>
  </div>
</div>

<%- include('./partials/footer.ejs') %>